<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Open Trivia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div *ngIf="!startGame">
    <p>Votre pseudo
      <input type="string" [(ngModel)]="pseudo"/>
      </p>
     
      <p>
          Difficulté
          <select [(ngModel)]="niveau">
            
              <option value="easy">Easy</option>
              <option value="medium">Medium</option>
              <option value="hard">Hard</option>
          </select>
      </p>
      <p>
        <input type="checkbox" [(ngModel)]= "sauvegarder">
        Sauvegarder mes infos
      </p>
      <div *ngIf="error"><p>{{error}}</p></div>
      <button (click)="commencer()">Commencer</button>

    </div>
      
      
      <div *ngIf="startGame">
         <p>Welcome {{ pseudo }}</p>
         <p>de quelle couleur est le cheval blanc d henri 4 ?</p>
         <div>
           <button (click)="response('A')">Reponse A</button>
           <button (click)="response('B')">Reponse B</button>
           <button (click)="response('C')">Reponse C</button>
           <button (click)="response('D')">Reponse D</button>
         </div>
         <button *ngIf="nextQuest">Next Question bro!</button>
      </div>
  </div>

</ion-content>
