<ion-header>
  <ion-toolbar>
    <ion-title>
      Open Trivia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 

  <div >
    <div *ngIf="!startGame">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Votre pseudo</ion-label>
          <ion-input type="string" [(ngModel)]="pseudo"></ion-input>
        </ion-item>

      <ion-item>
         <ion-label>Difficulté</ion-label> 
          <ion-select [(ngModel)]="niveau">
            
              <ion-select-option value="easy">Easy</ion-select-option>
              <ion-select-option value="medium">Medium</ion-select-option>
              <ion-select-option value="hard">Hard</ion-select-option>
          </ion-select>
      </ion-item>

      <ion-item>
        <ion-toggle [(ngModel)]= "sauvegarder"></ion-toggle>
        Sauvegarder mes infos
      </ion-item>

    </ion-list>

     <!-- <div *ngIf="error" class="error"><p>{{error}}</p></div>-->
      <ion-button expand="full" (click)="commencer()">Commencer</ion-button>

    </div>
      
      
      <div *ngIf="startGame">
        <ion-text color="primary">
         <p class="ion-text-center">Welcome {{ pseudo }}</p>
        </ion-text>

         <p class="ion-text-center">De quelle couleur est le cheval blanc d henri 4 ?</p>
         <ion-grid>
           <ion-row>
             <ion-col size="6">
                <ion-button expand="full" (click)="response('A')">Reponse A</ion-button>
            </ion-col>

            <ion-col size="6">
                <ion-button expand="full" (click)="response('B')">Reponse B</ion-button>
           </ion-col>

           <ion-col size="6">
              <ion-button expand="full" (click)="response('C')">Reponse C</ion-button>
           </ion-col>

           <ion-col size="6">
              <ion-button expand="full" (click)="response('D')">Reponse D</ion-button>
           </ion-col>

          </ion-row>
         </ion-grid>
         <ion-button *ngIf="nextQuest" expand="full">Next Question bro!</ion-button>
      </div>

  </div>

</ion-content>
